<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
      <title>footer</title>
   </head>
   <body>
      <div class="container" th:fragment="footer">
         <div class="row">
            <div class="col-2">
               <img th:src="@{/resources/images/page-footer-logo.png}" ></img>
            </div>
         </div>
      </div>
   </body>
</html>