<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<section layout:fragment="content">

    <div >
        <h5>Drug Details </h5>
        <table class="table responsive">

            <tr>
                <td th:text="${drug.productId}"></td>
            </tr>
            <tr>
                <td th:text="${drug.genericName}"></td>
            </tr>
            <tr>
                <td th:text="${drug.quotePrice}"></td>
            </tr>
            <tr>
                <td th:text="${drug.manufacturer.name}"> </td>
            </tr>
        </table>

    </div>
</section>

</body>
</html>