<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<section layout:fragment="content">

    <div>
        <div class="abc-search-header text-uppercase">
            <span class="text-uppercase" th:text="${drug.brandName}"></span>  |
            <span th:text="${drug.genericName}"></span> | DIN/PIN
            <span th:text="${drug.dinPin}"></span>
        </div>
        <br/>
        <table class="table abc-drug-detail-table">
            <tr>
                <td class="font-italic">Last Updated: Aug 30, 2018</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="font-weight-bold">1) 920000 Miscellaneous</td>
            </tr>
            <tr>
                <td class="font-weight-bold">2) 923600 Disease-Modifying</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Date Listed/Coverage Update</td>
                <td th:text="${#dates.format(drug.dateListed, 'dd-MMM-yyyy')}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Date Discontinued</td>
                <td  th:text="${drug.dateDiscontinued != null} ? ${drug.dateDiscontinued} : 'N/A'"> </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Unit Price</td>
                <td th:text="${drug.quotePrice}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">LCA</td>
                <td th:text="${drug.quotePrice}"></td>
            </tr>
            <tr >
                <td class="font-weight-bold">MAC Price</td>
                <td th:text="${drug.quotePrice}"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Unit of Issue:</td>
                <td th:text="${drug.quotePrice}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Manufacturer:</td>
                <td> <a th:text="${drug.manufacturer.name}" href="#"></a></td>
            </tr>
            <tr>
                <td class="font-weight-bold">ATC:</td>
                <td th:text="${drug.aigCode}"> </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Provincial Drug Schedule</td>
                <td th:text="${drug.provScheduleCode}"> </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Interchangeable Products:</td>
                <td >  <a th:text="${drug.interchangeable}" href="#"></a></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <hr class="abc-orange-hr"/>
        <table class="abc-drug-detail-table table">
            <tr>
                <td class="font-weight-bold">Coverage Status</td>
                <td th:text="${drug.coverageStatus}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Applies to Clients of</td>
                <td th:text="${drug.clientsAppliedTo}"></td>
            </tr>
        </table>

    </div>
</section>

</body>
</html>