<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<section layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        function showCdrDocs()
            {
                var selectedDocs = $("#selectCDR option:selected").val();
                console.log(selectedDocs);
                var message = /*[[${selectedDocs}]]*/ 'default';
                console.log(message);
            }
        /*]]>*/
    </script>
        
    <div>
        <div class="abc-search-header border-warning text-uppercase">
            <span class="text-uppercase" th:text="${drug.brandName}"></span>  |
            <span th:text="${drug.genericName}"></span> | DIN/PIN
            <span th:text="${drug.dinPin}"></span>
        </div>
        <table class="table abc-drug-detail-table">
            <tr>
                <td class="font-italic">Last Updated: Aug 30, 2018</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr th:each="category, iStat  : ${drug.listingCategory}">
                <td class="text-warning font-weight-bold"><span th:text="${iStat.index + 1} + ') '"></span>&nbsp;<span th:text="${category.priceListId} + ' ' + ${category.productListingCategory}"></span> <i class="abc-font-small fa fa-play-circle"></i> </td>
            </tr>

            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Date Listed/Coverage Update</td>
                <td th:text="${#dates.format(drug.dateListed, 'dd-MMM-yyyy')}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Date Discontinued</td>
                <td  th:text="${drug.dateDiscontinued != null} ? ${drug.dateDiscontinued} : 'N/A'"> </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Unit Price</td>
                <td th:text="${drug.quotePrice}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">LCA</td>
                <td th:text="${drug.lcaMacPrice}"></td>
            </tr>
            <tr >
                <td class="font-weight-bold">MAC Price</td>
                <td th:text="${drug.lcaMacPrice}"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Unit of Issue:</td>
                <td th:text="${drug.strengthUnit}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Manufacturer:</td>
                <td> <a class="border-bottom border-warning text-warning font-weight-bold" th:text="${drug.manufacturer.name}" data-toggle="modal" data-target="#exampleModalCenter"></a></td>
            </tr>
            <tr>
                <td class="font-weight-bold">ATC:</td>
                <td th:text="${drug.aigCode}"> </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Provincial Drug Schedule: <i class="fa fa-info-circle"></i></td>
                <td th:text="${drug.provScheduleCode}"> </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Interchangeable Products:</td>
                <td th:if="${drug.interchangeable}"><a class="border-bottom border-dark text-dark font-weight-bold" data-toggle="modal" data-target="#interchangeableModal">YES</a></td>
                <td th:if="!${drug.interchangeable}"><span class="border-bottom border-dark text-dark font-weight-bold">NO</span></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <hr class="abc-hr bg-warning"/>
        <table class="abc-drug-detail-table table">
            <tr>
                <td class="font-weight-bold">Coverage Status</td>
                <td th:text="${drug.coverageStatus}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Applies to Clients of</td>
                <td th:text="${drug.clientsAppliedTo}"></td>
            </tr>
        </table>
        <div class="selectdiv selectdiv-criteria">
            <label class="font-weight-bold abc-font-small">COVERAGE CRITERIA</label>
            <select style="font-size: smaller;">
                <option selected>Select a criteria</option>
            </select>
        </div>
        <br>
        <div>
            <p class="my-3 font-weight-bold abc-font-small">REVIEW STATUS/PAST DECISIONS</p>
            <div class="d-flex">
                <div class="selectdiv selectdiv-ecdt">
                    <label>ECDET</label>
                    <select style="font-size: smaller;">
                        <option selected>Please select one</option>
                    </select>
                </div>
                <span class="fill-half-space"></span>
                <div class="selectdiv selectdiv-cdr">
                    <label>CDR</label>
                    <select th:field="*{drug.selectedCdrReview}" style="font-size: smaller;">
                        <option selected value="null">Select a criteria</option>                        
                        <option th:each="i : ${drug.cdrReviews}" th:value="${i}" th:text="${i.title}"></option>
                    </select>
                </div>
                <span th:text="${drug.selectedCdrReview}"></span>
                <ol th:if="${drug.selectedCdrReview}">
                    <li th:each="doc : ${drug.selectedCdrReview.reviewDocuments}">
                        <span th:text="${doc.fileName}"></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <button class="mt-5 mb-3 px-5 btn btn-sm bg-eee disabled">GLOSSARY</button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="abc-search-header border-warning">
              <span class="modal-title ml-3" id="exampleModalCenterTitle" th:text="${drug.manufacturer.name}"></span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="d-flex ml-3">
                    <span><strong>Address:</strong> <p th:text="${drug.manufacturer.address}"></p></span>
                    <span class="fill-half-space"></span>
                    <span><strong>Toll-free:</strong> <p th:text="${drug.manufacturer.phoneNumber}"></p></span>
                </div>
                <div class="ml-3">
                    <span><strong>Telephone:</strong> <p th:text="${drug.manufacturer.phoneNumber}"></p></span>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="interchangeableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="interchangeable-popup-header">
              <span class="ml-3 modal-title text-uppercase font-weight-bold" id="interchangeableModalTitle" th:text="${drug.genericName}"></span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="ml-3 mb-3 d-flex abc-font-smaller">
                LCA:&nbsp;<span class="mr-4" th:text="${drug.quotePrice}"></span>
                MAC:&nbsp;<span th:text="${drug.quotePrice}"></span>
              </div>
              <span class="ml-3 font-italic abc-font-smaller">Interchangeable Products Found: <span th:text="${drug.interchangeableProducts.size()}"></span></span>
            </div>
            <div class="modal-body p-0 mr-3">
                <table id="interchangeablePopupTable" style="width: 102.82%;" class="sortable table">
                    <thead class="m-0 interchangeable-table-header">
                        <tr>
                            <th class="border-top-0 border-warning">DIN/PIN </th>
                            <th class="border-top-0 border-warning">BRAND NAME </i></th> 
                            <th class="border-top-0 border-warning">UNIT PRICE </i></th>
                            <th class="border-top-0 border-warning">INFORMATION </i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product, iStat : ${drug.interchangeableProducts}">
                            <td th:style="${iStat.first}? 'border-top: none;'" th:text="${product.dinPin}"/>
                            <td th:style="${iStat.first}? 'border-top: none;'" th:text="${product.brandName}"/>
                            <td th:style="${iStat.first}? 'border-top: none;'" th:text="${product.quotePrice}"/>
                            <td th:style="${iStat.first}? 'border-top: none;'"><button class="btn btn-sm btn-warning">More Information</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <script type="javascript">
            var newTableObject = document.getElementById("interchangeablePopupTable");
            sorttable.makeSortable(newTableObject);
            console.log(newTableObject);
            console.log("Wtf is this");
            console.log(sorttable);
            console.log(sorttable.makeSortable);
        </script>
      </div>
</section>
</body>
</html>